.container {
    width: 960px;
    margin: 0 auto;
}

#my-name {
    padding: 5px 10px 5px 10px;
    float: left;
}

#nav-bar {
    float: right;
    margin-top: 0;
}

header {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;
    margin-top: 0;
}

.header-width {
    width: 975px;
    margin: 0 auto;
}

nav li {
    float: left;
    list-style: none;
    margin: 1px 10px;
    padding-top: 10px;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
}

body {
    background-image: url("../images/cheap_diagonal_fabric.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;
}

hr {
    padding: 0;
    margin: 0 0 0 12;
}

#profile-photo {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 10px;
}

.main-content {
    margin-top: 10px;
    padding: 0 10px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

.about-me-content {
    line-height: 24px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color: #666666;
    color: silver;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

input[type=text],
select,
textarea {
    border: 1px solid gray;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-content {
    border-radius: 5px;
    padding: 20px;
}

.portfolio-content {
    margin-top: 30px;
}

.portfolio-image {
    height: 250px;
    width: 300px;
    margin: 0 30px 30px 0;

}

.image-label {
    font-family: 'Georgia', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 60%;
    z-index: 1000;
    background-color: #4aaaa5;
    width: 300px;
    height: 36px;
    text-align: center;
    color: white;
    padding-top: 12px;

}

section {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

.blue-bar {
    width: 100%;
    height: 5px;
    background-color: #4aaaa5;

}